.Accommodation {
    display: flex;
    justify-content: center;
    background-color: rgba(60, 60, 60, 0.100);
}

.accommodationBox {
    padding-top: 2rem;
    width: 600px;
    padding-left: 4rem;
    padding-right: 4.2rem;
    background-color: white;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.30);
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.30);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.30);
}

.services {
    display: flex;
    width: 100%;
}

.Accommodation h1 {
    font-weight: 700;
    padding-bottom: 1.5rem;
}

.map {
    position: relative;
    left: -4rem;
    margin-bottom: 1.5rem;
    width: 128%;
}

.Accommodation hr {
    padding-bottom: 1.5rem;
}