.formBox h3 {
  font-size: .9rem;
  font-weight: 600;
  padding-bottom: 1rem;
  text-align: center;
}

.nameField Input {
  border-radius: 4px;
  height: 3rem;
}

.lastnameField Input {
  border-radius: 4px;
  height: 3rem;
}

.datePicker {
  height: 3rem;
  width: 100%;
}

.ageField p {
  font-size: .8rem;
}

.emailField Input {
  border-radius: 4px;
  height: 3rem;
}

.passwordField Input {
  height: 2.4rem;
}

.submitBtn Button {
  border-radius: 4px;
  height: 3rem;
}